
{% extends "base.html" %}

{% block title %} Homepage {% endblock %}


{% block content %}

<!-- Container -->
<div class="container">
  <br>
    <!-- Search form-->
    <form action="/search" method="post" >
      <div class="input-group">
        <input name="title" class="form-control" placeholder="Enter Movie Name"/>
          <div class="input=group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
      </div>
    </form>
</div>
{% endblock %}
